SUPABASE_URL=PUT_URL_HERE
SUPABASE_PUBLISHABLE_KEY=PUT_KEY_HERE
USE_SUPABASE=false
JWT_SECRET=PUT_SECRET_HERE
OVERRIDE_DB=false
MAIN_BATTERY_TYPE=LiNMC
ALTERNATE_BATTERY_TYPE=LiFePO4
USE_NEW_RUN_ID=false
SAMPLE_INTERVAL_MS=1000
IS_TEST_RUN=false
SAVE_ADC_READINGS_TO_DB=true
ENABLE_EKF_RESTORE=true
LOG_POWER_MANAGEMENT=false
LOG_CLIENT_MESSAGES=false
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin
SAVE_STATES_TO_DB=true
MIN_LATITUDE=1.1
MAX_LATITUDE=1.9
MIN_LONGITUDE=102.7
MAX_LONGITUDE=104.3
MIN_ZOOM=8
MAX_ZOOM=15
TILE_SOURCE_URL=https://a.tile.opentopomap.org/{z}/{x}/{y}.png
TILE_DOWNLOAD_CONCURRENCY=1
TILE_PROGRESS_INTERVAL=10
TILE_REQUEST_DELAY_MS=200
TILE_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36